* {
  font-family: "Poppins", sans-serif;
}
.card {
  background-color: bisque;
  border: 2px solid seagreen;
  padding: 20px;
  border-radius: 10px;
}

p {
  margin: 0px;
  padding: 0px;
  color: rgb(31, 63, 63);
}
.p {
  font-weight: 600;
  font-size: 50px;
}
.p-med {
  font-weight: 400;
  font-size: 15px;
}
.image {
  height: 200px;
  width: 300px;
}
